.has-max-width-120 {
    width: 100%;
    max-width: 120px;
}

.has-max-width-150 {
    width: 100%;
    max-width: 150px;
}

.has-max-width-200 {
    width: 100%;
    max-width: 200px;
}

.has-max-width-250 {
    width: 100%;
    max-width: 250px;
}

.has-max-width-300 {
    width: 100%;
    max-width: 300px;
}

.has-max-width-400 {
    width: 100%;
    max-width: 400px;
}

.has-max-width-500 {
    width: 100%;
    max-width: 500px;
}

.has-max-width-600 {
    width: 100%;
    max-width: 600px;
}

.divider {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    &.is-dark {
        background-color: #394049;
    }
    &.is-vertical {
        width: 1px;
        height: 100%;
    }
}

ul.unordered-list-radio {
    position: relative;
    >li {
        position: relative;
        padding: 0.25rem 0 0 2rem;
        margin: 0 0 0.5rem;
    }
    >li::before {
        position: absolute;
        display: block;
        content: ' ';
        width: 15px;
        height: 15px;
        background-color: #AEA3CF;
        border-radius: 25rem;
        top: 0.5rem;
        left: 0;
    }
}